html,body{
    background-color: rgb(254, 223, 255);
}
h1{
    font-family: cursive;
    color: rgba(2, 0, 2, 0.938);
}
li{
    display: grid;
    display: flex;
    color: rgb(254, 223, 255);
}
fieldset{
    color: rgba(68, 58, 68, 0.938);;
    background-color: rgba(0, 0, 0, 0.938);
}
a{
    color: azure;
}