html,body{
    background-color: rgb(254, 223, 255);
}
h1{
    font-family: cursive;
    color: rgba(202, 148, 202, 0.938);
}
li{
    display: grid;
    display: flex;
}
fieldset{
    color: rgba(68, 58, 68, 0.938);;
    background-color: rgba(202, 148, 202, 0.938);
}